.disclaimer-container {
    width: 70%;
    height: 70%;
    position: fixed;
    left: 15%;
    top: 15%;
    background: #fff;
    z-index: 99999;
    border-radius: 3px;  
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box; 

}

.disclaimer-overlay {
    display: none; 
    background: rgba(39, 39, 39, 0.8); 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999; 
}

.disclaimer-overlay.active {
    display: block; 
} 


.disclaimer-text {
    height: 60%;
    position: absolute;
    box-sizing: content-box;
    margin: 50px 0px 0px 50px; 
}

.disclaimer-text .title {
    font-size: 30px;
    font-weight: 800; 
} 

.disclaimer-text .text {
    padding-right: 50px;
} 

.disclaimer-container .simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 11px;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    background: #004ecb;
    background-clip: padding-box;

}


.disclaimer-btn-container {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}

.disclaimer-btn {
    background: #2979ff;
    border-radius: 20px;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 20px;
    
} 

@media screen and (max-width: 500px) {
    .disclaimer-container {
        width: 95%;
        height: 95%;
        position: fixed;
        left: 2.5%;
        top: 2.5%;
    } 

    .disclaimer-text {
        height: 70%; 
    }
}