.who-we-are {
    background: #fafafa; 
}

.footer {
    padding-top: 25px;
}

.footer-container {
    position: absolute; 
    top: 100%;
    width: 100%;
    background: #fafafa; 
}

.who-title {
    padding: 40px 0px; 
    font-size: 16px; 
    color: #004ecb;   
    font-weight: 800; 
    text-transform: uppercase; 
    text-decoration: underline; 
}

.who-detail {
    padding: 40px 0px; 
}

.who-detail div {
    display: inline-block; 
    padding-left: 20px; 
}

.who-detail i {
    color: #004ecb; 
} 

.copyright {
    padding-bottom: 25px; 
} 


