.inline-select {
    background: transparent;
    border: none;
    outline: none;
    color: #75a7ff;
    border-bottom: 1px solid #fff;
    vertical-align: text-bottom; 
    cursor:pointer; 
    position: relative; 
    padding-right: 25px;

} 

.inline-select select {
    border: none; 
    background-color: transparent;

}

.inline-select textarea {
    height: 27px;
    padding-top: 6px;
    padding-bottom: 0px;

}

.inline-select__options-container  {
    width: 300px; 
}   

.select-arrow {
    float: right; 
    font-size:14px; 
    background: #212121; 
} 

.select-arrow i {
    margin-top: 8px;
    margin-left: -15px;
    background: #212121;
    position: relative;
    z-index: 999;
} 

.inline-select__options-container .option { 
    font-size: 25px; 
    font-weight: 200;  
    transition: all .2s ease-in-out; 
    text-align: left;
} 

.inline-select__options-container .option:first-child {
    padding-top: 20px; 
}

.inline-select__options-container .option:last-child {
    padding-bottom: 20px; 
}

.inline-select__options-container .option:hover {
    background-color: #484848;
}

.inline-select__options-container.active {
    position: absolute;
    display: block;
    margin-top: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(58, 58, 58);
    border-top: 1px solid #fff;
    z-index: 99999; 
    overflow: hidden; 
    -webkit-box-shadow: 0px 0px 19px -4px rgba(26,26,26,1);
    -moz-box-shadow: 0px 0px 19px -4px rgba(26,26,26,1);
    box-shadow: 0px 0px 19px -4px rgba(26,26,26,1);
}

.inline-select__options-container {
    display: none; 
}

.inline-select__options-container .option {
    padding: 10px 20px;

} 

@media screen and (max-width: 1250px) {
    .inline-select__options-container .option {
        font-size: 20px; 
    } 

    .inline-select__options-container .option {
        padding: 5px 20px; 
    } 

    .inline-select__options-container.active {
        margin-top: 5px;
    }

}

@media screen and (max-width: 1015px) {
    .inline-select__options-container .option {
        font-size: 17px; 
    } 

    .inline-select__options-container .option {
        padding: 5px 20px; 
    }

    .inline-select__options-container.active {
        margin-top: 2px;
    }

    .inline-select__options-container  {
        width: 200px; 
    }   
}

@media screen and (max-width: 800px) {
    .inline-select__options-container .option {
        font-size: 14px; 
    } 

    .inline-select__options-container .option {
        padding: 5px 15px; 
    }

    .inline-select__options-container.active {
        margin-top: 0px;
    } 

    .select-arrow i {
        margin-top: 3px;
    }

}
