.about__hero-img {
    height: 410px;
    width: 100%;
    background-image: url('../../../public/images/about-us/hero_bg.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.about__heading-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: left;
    line-height: 1;
    margin-bottom: 30px;
}
.about-offset {
    padding: 50px 0;
}
.about__content-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
    width: 100%;
}
@media (min-width:500px) and (max-width:768px){
    .about__hero-img{height:310px}
    .about-offset {padding: 20px 0;}
}
@media (min-width:320px) and (max-width:499px){
    .about__hero-img{height:210px}
    .about-offset {padding: 15px 0;}
}