.nav-item a {
    text-decoration: none!important; 
    text-transform: uppercase; 
    color: #fff!important; 
    white-space: nowrap; 
} 

.container-grid {
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.container-grid-block {
    width: 80%;
    margin: 0 auto; 
    display: block;    
}

.container-grid-block div {
    box-sizing: border-box;
}

.nav-item {
    display: inline-block; 
    padding: 25px;
}

.nav-container {
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-pack: justify; 
        justify-content: space-between; 
    position: absolute;
    width: 100%;
    z-index: 9999;
    background: rgba(39, 39, 39, 0.5);

}

.login-btn {
    border: 2px solid #fff; 
    background: transparent; 
    text-transform: uppercase; 
    padding: 10px 20px 10px 20px; 
    border-radius: 18px; 
    color: #fff; 
    cursor: pointer; 
}

.nav-right {
    padding: 15px;
    display: -ms-flexbox;
    display: flex; 
} 

.nav-middle {
    display: -ms-flexbox;
    display: flex; 
}

.logo-container {
    padding: 25px;
}

.full-height {
    height: 100%; 
}

.bg-container {
    background-image: url('../../../public/images/bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 60%;   
    position: absolute;
    left: 0;
    right: 0; 
    background-position: 0 100%;
}  

.description-container {
    background: #212121;
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
    
}

.list-aligner {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; 
    padding-left: 10px; 
}

.list-container-home {
    color: #fff; 
} 

.list-container-home p::before {
    content: '■'; 
    color: #75a7ff;
    margin-right: 10px;
    margin-left: -20px; 
}

@media screen and (max-width: 1600px) {
    .nav-item {
        padding-left: 10px; 
        padding-right: 10px; 
    }
}

@media screen and (max-width: 1300px) {
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 25px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1061px) {
    .nav-middle {
        display: none; 
    }

    .nav-right {
        display: none; 
    }
}