.preload-container {
    position: fixed; 
    z-index: -100; 
}

#preload1 {
    background-image: url('../../../public/images/slides/bg1.png'); 
} 

#preload2 {
    background-image: url('../../../public/images/slides/bg2.png')   
} 

#preload3 {
    background-image: url('../../../public/images/slides/bg3.png')
}

#preload4 {
    background-image: url('../../../public/images/slides/bg4.png') 
} 

#preload5 {
    background-image: url('../../../public/images/slides/bg5.png')
}

#preload6 {
    background-image: url('../../../public/images/slides/bg6.png')
}

#preload7 {
    background-image: url('../../../public/images/slides/bg7.png')
}
#image-content-1{
    background-image: url('../../../public/images/home/img-content-1.png')
}
#image-content-2{
    background-image: url('../../../public/images/home/img-content-2.png')
}
#image-content-3{
    background-image: url('../../../public/images/home/img-content-3.png')
}
#image-content-4{
    background-image: url('../../../public/images/home/img-content-4.png')
}
#image-content-5{
    background-image: url('../../../public/images/home/img-content-5.png')
}


.full-height {
    height: 100%; 
}

.bg-container {

    background-size: cover; 
    background-repeat: no-repeat; 
    height:550px;   
    background-position: 0 100%; 
    transition: background-image .3s ease-in-out; 
}   


.title-aligner {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 10%;
    position: relative;
}
.title-container {
    font-weight: 800; 
}

.main-title {
    font-size: 48px; 
    color: #fff; 
    letter-spacing: -0.01em; 
    transition: .2s ease-in-out; 
    width: 100%;
    text-align: left;
    font-weight: 600;
}
.main-title-small {
    font-size: 30px; 
    color: #fff; 
    transition: .2s ease-in-out;
    height: 140px;
    position: relative;
    margin-top: -155px;
    margin-bottom: 15px;
    text-align: left;
} 

.main-title span {
    display: block;
}

.main-title-small span {
    display: block;

}

.fadeout {
    opacity: 0; 
}

.main-btn {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    background: #2979ff;
    border-radius: 20px;
    padding: 17px 36px;
    border: none;
    outline: none;
    transition: all .2s ease-in-out; 
    margin-top: 25px; 
} 
.home-btn{
    float: left;
}
.main-btn:hover {
    background: #5896ff; 
}

.description-container {
    background-image: url('../../../public/images/home/home_bg.png');
    background-size: cover;
    background-position: 0;
    padding: 45px 0;
    width: 100%; 
}

.list-aligner {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; 
    padding-left: 10px; 
}
.flexed-row{
    display: flex;
    align-items: center;
}
.list-container-home {
    color: #fff; 
} 

.list-container-home p::before {
    content: '■'; 
    color: #75a7ff;
    margin-right: 10px;
    margin-left: -20px; 
} 
.list__item-wrapper{
    margin-bottom:45px;
}
.list__itemImage-img{
    width: 100%;
    height: 199px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.single-col .list__itemImage-img{
    height: 275px;
}
.list_itemText-font{
    font-size:14px;
    color:white;
    font-weight: 300;
    font-family:"Roboto",sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.4;
}
.disclaimer {
    height: 75px; 
    background: #484848;
    color: #fff; 
    text-align: center; 
    padding-top: 25px;
    box-sizing: border-box;
}

.disclaimer a {
    color: #709cec!important; 
    cursor: pointer;
} 

.slider-controls-wrap {
	left: 0;
    position: absolute; 
    bottom: 30px; 
    width: 100%; 
    display: -ms-flexbox; 
    display: flex;  
    -ms-flex-pack: distribute;  
        justify-content: space-around; 
}


.slider-controls {
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

.slider-controls div {
    border-radius: 50%; 
    height: 10px;
    width: 10px; 
    background: #dadada; 
    display: inline-block; 
    margin: 10px; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.slider-controls div.active {
     background: #fff; 
}
.foo-home{
    position: static;

}
@media screen and (max-width: 1600px) {
    .nav-item {
        padding-left: 10px; 
        padding-right: 10px; 
    }
}

@media screen and (max-width: 1300px) {
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1061px) {
    .nav-middle {
        display: none; 
    }

    .nav-right {
        display: none; 
    }

    .main-btn {
        margin-top: 0px; 
    }
} 


@media screen and (max-width: 767px) { 
    .flexed-row{
        flex-direction: column;
        padding: 0 20%;
    }
    .bg-container {
        height: 500px;   
    }

    .main-title {
        font-size: 30px
    } 



    .footer-container {
        top: 900px; 
    }

    .main-title-small {
        font-size: 25px; 
        height: 100px; 
        margin-top: -115px; 
        padding-left: 15px;
        padding-right: 15px; 
    } 

    .title-container {
        padding-top: 15px; 
    }
} 

@media screen and (max-width: 500px) {
    .flexed-row{
        padding: 0 5%;
    }
    .main-btn{margin-top: 60px;}
    .list_itemText-font{
        text-align: justify;
    }

    .footer-container {
        top: 1000px; 
    }

    .who-we-are .container-grid {
        display: block; 
    } 

     .who-detail div:first-child {
         padding-left: 0; 
     }

    .who-detail div:last-child {
        padding-left: 15px;
    } 

    .who-detail {
        padding: 20px 0px; 
    }

    .who-title {
        padding: 20px 0px; 
        padding-bottom: 0; 
    }
} 

@media screen and (max-width: 375px) {

    .footer-container {
        top: 1200px; 
    }

    .main-title-small {
        font-size: 22px;
        padding-left: 10px;
        padding-right: 10px;
    } 

    
} 

@media screen and (max-height: 800px) and (min-width: 600px) {
    .bg-container {
        height: 500px;   
    }

    .main-title {
        font-size: 30px
    } 

    .footer-container {
        top: 900px; 
    }

    .title-container {
        margin-top: 40px; 
    }

    .main-title-small {
        height: 120px; 
        margin-top: -135px; 
        padding-left: 15px;
        padding-right: 15px;  
    }

    .main-btn {
        margin-top: 60px; 
    }

}