.nav-item a {
    text-decoration: none!important; 
    text-transform: uppercase; 
    color: #fff!important; 
    white-space: nowrap; 
    cursor: pointer; 
} 

.nav-item a:hover {
    color: #75a7ff!important; 
}

.nav-item.active {
    background: rgba(31, 31, 31, 0.42); 
}

.nav-item.active a {
    color: #75a7ff!important; 
}  

.nav-item:hover {
    background: rgba(31, 31, 31, 0.42); 
}

.nav-item:hover a {
    color: #75a7ff!important; 
}  



.container-grid {
    width: 80%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.container-grid-block {
    width: 80%;
    margin: 0 auto; 
    display: block;    
}

.container-grid-block div {
    box-sizing: border-box;
}

.nav-item {
    display: inline-block; 
    padding: 27.4px;
    cursor: pointer; 
}

.nav-container {
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-pack: justify; 
        justify-content: space-between; 
    position: absolute;
    width: 100%;
    z-index: 9999; 
    height: 75px; 
    box-sizing: border-box; 
    background: rgba(39, 39, 39, 0.5);

}
 

.login-btn {
    border: 2px solid #fff; 
    background: transparent; 
    text-transform: uppercase; 
    padding: 10px 20px 10px 20px; 
    border-radius: 18px; 
    color: #fff; 
    cursor: pointer; 
    transition: all .2s ease-in-out; 
} 

.login-btn:hover {
    color: #000; 
    background: #fff; 
}

.nav-right {
    padding: 15px;
    display: -ms-flexbox;
    display: flex; 
} 

.nav-middle {
    display: -ms-flexbox;
    display: flex; 
}

.nav-options-container {
    background: #fff;
    color: #000; 
    margin-top: 75px;
    position: absolute;
    width: 100%;
    z-index: 9999;
    display: none; 
} 

.nav-options-container.active {
    display: block; 
}

.nav-option {
    display: none; 
}

.qr {
    font-size: 10px;
    margin-top: -5px;
    vertical-align: super;
   /* border-bottom: 1px solid black; */ 
    text-decoration: underline; 
}

.nav-option.active {
    display: block; 
} 

.option-sub {
    width: 33%; 
    padding-left: 25px;
    margin-top: 20px; 
    height: 110px;
}

.option-sub p {
    line-height: 1;
    margin-bottom: 15px;
} 

.option-sub p::before {
    content: '\203A';
    color: #75a7ff;
    font-size: 20px;
    line-height: 0px;
    margin-right: 5px;
}

.bordered {
    border-right: 1px solid #ccc;

}

.nav-option h5 {
    color: #000; 
    font-weight: 800;  
    font-size: 14px;   
    text-transform: uppercase; 
    margin-top: 0;
}

.nav-option a {
    color: #000; 
    font-weight: 800; 
    padding-top: 26px;
    display: block;

} 

.option-sub a {
    color: #000; 
    font-weight: 800; 
    padding-top: 0;
    display: inline-block;  
}

.nav-option a:hover {
    color: #000; 
}

.logo-container {
    padding: 25px;
}

.full-height {
    height: 100%; 
}

.bg-container {

    background-size: cover; 
    background-repeat: no-repeat; 
    height: 60%;   
    position: absolute;
    left: 0;
    right: 0; 
    background-position: 0 100%; 
    transition: all .3s ease-in-out; 
}   

.title-container {
    margin: 0 auto; 
    font-weight: 800; 
}

.title-aligner {
    text-align: center;
    display: flex;
    align-items: center;
}

.main-title {
    font-size: 48px; 
    color: #fff; 
} 

.main-btn {
    color: #fff;
    text-transform: uppercase;
    background: #2979ff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: all .2s ease-in-out; 
} 

.main-btn:hover {
    background: #5896ff; 
}

.description-container {
    background: #212121;
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
    
}

.list-aligner {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; 
    padding-left: 10px; 
}

.list-container-home {
    color: #fff; 
} 

.list-container-home p::before {
    content: '■'; 
    color: #75a7ff;
    margin-right: 10px;
    margin-left: -20px; 
} 

.footer-container {
    position: absolute;
    top: 100%;
    width: 100%;
}

.disclaimer {
    height: 75px; 
    background: #484848;
    color: #fff; 
    text-align: center; 
    padding-top: 25px;
    box-sizing: border-box;
}

.disclaimer a {
    color: #709cec!important; 

} 

.who-title {
    padding: 40px 0px; 
    font-size: 16px; 
    color: #004ecb;  
    text-transform: uppercase; 
    text-decoration: underline; 
}

.who-detail {
    padding: 40px 0px; 
}

.who-detail div {
    display: inline-block; 
    padding-left: 20px; 
}

.who-detail i {
    color: #004ecb; 
} 

.copyright {
    padding-bottom: 25px; 
}

.slider-controls-wrap {
    position: absolute; 
    bottom: 30px; 
    width: 100%; 
    display: flex;  
    justify-content: space-around; 
}


.slider-controls {
    justify-content: space-around;

}

.slider-controls div {
    border-radius: 50%; 
    height: 10px;
    width: 10px; 
    background: #979796; 
    display: inline-block; 
    margin: 10px; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.slider-controls div.active {
     background: #fff; 
}

@media screen and (max-width: 1600px) {
    .nav-item {
        padding-left: 10px; 
        padding-right: 10px; 
    }
}

@media screen and (max-width: 1300px) {
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1061px) {
    .nav-middle {
        display: none; 
    }

    .nav-right {
        display: none; 
    }
} 

@media screen and (max-width: 767px) { 

    .bg-container {
        height: 400px;   
    }

    .main-title {
        font-size: 30px
    } 

    .description-container {
        height: 500px; 
        top: 400px; 
    }

    .footer-container {
        top: 900px; 
    }
} 

@media screen and (max-width: 500px) {
    .description-container {
        height: 600px; 
        top: 400px; 
    }

    .footer-container {
        top: 1000px; 
    }

    .who-we-are .container-grid {
        display: block; 
    } 

     .who-detail div:first-child {
         padding-left: 0; 
     }

    .who-detail div:last-child {
        padding-left: 15px;
    } 

    .who-detail {
        padding: 20px 0px; 
    }

    .who-title {
        padding: 20px 0px; 
        padding-bottom: 0; 
    }
} 

@media screen and (max-width: 375px) {
    .description-container {
        height: 800px; 
        top: 400px; 
    }

    .footer-container {
        top: 1200px; 
    }
} 

@media screen and (max-height: 800px) and (min-width: 600px) {
    .bg-container {
        height: 400px;   
    }

    .main-title {
        font-size: 30px
    } 

    .description-container {
        height: 500px; 
        top: 400px; 
    }

    .footer-container {
        top: 900px; 
    }
}