.industrial-commodity__nav-container {
    height: 75px;
    background: #000;
} 

.industrial-commodity__content-container {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    background: #212121; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -ms-flex-pack: distribute; 
        justify-content: space-around; 
    padding-bottom: 75px
}

.industrial-commodity__footer-container {
    position: absolute; 
    top: 100%; 
} 

.industrial-text-container {
    color: #fff; 
    text-align: center;
} 

.industrial-text-container__text {
    font-size: 30px;  
    margin: 0; 
    padding: 15px; 

} 

.industrial-text-container__select {
    display: inline-block; 
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: text-top;
}

.industrial-text-container__text_select-value {
    color: #75a7ff; 

}

.underlined {
    border-bottom: 1px solid #fff; 
} 

.continue-btn {
    width: 90px;
    margin: 0 auto; 
    display: block; 
    margin-top: 35px; 
    cursor: pointer; 
    padding: 15px 12px 13px 12px; 
} 

@media screen and (max-width: 1250px) {
    .industrial-text-container__text {
        font-size: 25px; 
    }

}

@media screen and (max-width: 1015px) { 
    .industrial-text-container__text {
        font-size: 20px; 
    }

}

@media screen and (max-width: 800px) {
    .industrial-text-container__text {
        font-size: 17px; 
    }
}

@media screen and (max-height: 568px) and (orientation : landscape)  {

    .industrial-commodity__content-container {
        height: 440px; 
        -webkit-box-align: start; 
            -ms-flex-align: start; 
                align-items: flex-start;
        padding-top: 20px;

    } 

    .industrial-commodity__footer-container {
        top: 440px; 
    }
}