.container-fluid {
    overflow: hidden;
}

.mdl-data-table {
  margin: auto;  
}

.mdl-data-table td {
  cursor: pointer; 
} 
 
.filter-label {
    display: block;
}

.heading {
  font-weight: 700;  
}

.subheading {
  padding-bottom: 10px; 
}

th .mdl-checkbox {
  display: none; 
}

.react-datepicker__input-container input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px; 
    outline: none; 
}

.filter-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px; 
    outline: none;
}

.filter-panel.panel-tab { 
    width: 100%;
    box-sizing: content-box;  
    background: #fff; 
    position: fixed;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(135,135,135,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(135,135,135,1);
    box-shadow: 0px 0px 6px 0px rgba(135,135,135,1);
}

.filter-btn {
  background-color: rgb(63,81,181); 
  border: 2px solid  rgb(63,81,181); 
  color: #fff;  
  outline: none!important; 
}

.filter-btn:hover {
  background-color: rgb(63,81,181); 
  border: 2px solid  rgb(63,81,181); 
  outline: none; 
} 


.filter-btn:active:hover {
  background-color: rgb(59, 73, 154);
  border: 2px solid rgb(59, 73, 154);
  outline: none; 
}

.filter-btn:focus {
  background-color: rgb(63,81,181); 
  border: 2px solid  rgb(63,81,181);
  outline: none; 
}

.form-container {
  text-align: center;  
  margin-bottom: 30px; 
  margin-top: 20px;
}  


.container-lg {
  margin: 0 auto; 
  max-width:1500px; 
}

.filter-tab-container {
  text-align: center; 
  padding-top: 15px;
  /*text-align: left; 
  padding-left: 80px; */
}

.filter-tab-container {
  padding-top: 15px;
}

.filter-tab-container p {
  font-size: 18px; 
} 


.date-choice-container p {
  font-size: 18px; 
}

.date-choice-container button {
  background-color: #8398d4; 
  border: none; 
  border-radius: 5px; 
  color: #fff; 
  outline: none!important; 
}

.submit-container {
  text-align: center; 
}

.custom-date {
  display: inline-block; 
} 

.custom-date input {
  height: 29px; 
  margin-right: 10px;
  margin-left: 10px; 
}

.date-choice {
  margin: 10px; 
  margin-top: 0; 
  margin-bottom: 15px; 
  transition: background-color .1s ease-in;  
}

.date-choice:hover {
  background-color:  rgb(63,81,181); 
}

.date-choice.selected {
   background-color:  rgb(63,81,181); 
} 

.filter-tab {
    width: 50px;
    height: 50px;
    background-color: #8398d4;
    color: #fff;
    margin-right: 20px; 
    margin-bottom: 20px; 
    border: none;
    border-radius: 5px; 
    transition: background-color .1s ease-in;  
    outline: none; 
}
.filter-tab:hover {
  background-color:  rgb(63,81,181); 
} 
.filter-tab.selected {
  background-color:  rgb(63,81,181); 
}

.list-container {
  padding-top: 475px;
} 

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: rgb(63,81,181); 
} 

.filter-btn-container {
    padding-top: 30px; 
    margin-bottom: 75px; 
    box-sizing: border-box; 
} 

.filter-btn-sm {
    width: 65%; 
    outline: none!important; 
}

tr.is-selected td {
  background-color: rgba(204, 204, 218, 0.5); 
}


.label-dummy {
  color: #fff; 
}

.label-span {
    color: #2c3e50; 
    font-weight: 700; 

}

.filter-panel {
  text-align: center;
  box-sizing: border-box; 
}

.filter-form {
  text-align: right; 
}

.checkbox-wrap {
  margin-top: 30px; 
}

td-instrument {
  text-align: right; 
}

.list-container table {
  width: 97%!important; 
}


@media screen and (max-width: 991px) { 
    .list-container {
    padding-top: 20px; 
  }

  .filter-label {
    padding-top: 20px;
    padding-left: 0; 
    margin-left: 10px;
  }

  .filter-panel {
    padding-bottom: 40px;
  }

  .filter-panel.panel-tab {
    position: relative; 
  }

  td.instrument {
    display: none;
  }
 
   .span-margin {
    display: inline-block; 
    margin-top: 20px; 
  }

} 


@media screen and (max-width: 767px) {   


  .list-container table {
  width: 100%!important; 
  }
  .filter-tab {
    width:50px; 
    height: 50px; 
  } 

  .filter-panel {
    text-align: center; 
  }
  .filter-form {
    text-align: center; 
  }
  .filter-btn {
    float: none;  
    
  }  

  .mdl-checkbox.is-upgraded {
    padding-left: 24px;
    display: inline-block;
    margin-left: 15px;
    }

  .filter-tab-container {
    padding-left: 32px; 
  }

  .filter-tab-container p {
    margin-left: -10px; 
  }

  .list-container {
    font-size: 11px; 
  } 

  .list-container th {
    font-size: 11px;  
  }   
   .container-fluid {
      padding-left: 0;
      padding-right: 30px;
  }

}