.mdl-tabs__tab-bar {
  position: absolute; 
} 

.offset-tab {
  margin-top: 50px; 
} 

.top-padded {
  padding-top: 30px; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #2979ff!important; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab:hover {
  color: #2979ff; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #2979ff!important; 
} 

@media screen and (max-width: 1200px) {

} 

@media screen and (max-width: 768px) {
  .series-detail-table {
     font-size: 11px;
  }
} 

@media scree and (max-width: 500px) {
  .series-detail-table {
     font-size: 10px;
  }
} 

@media screen and (max-width: 375px) {

}