.mdl-tabs__tab-bar {
  position: absolute; 
} 

.offset-tab {
  margin-top: 50px; 
} 

.top-padded {
  padding-top: 30px; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #2979ff!important; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab:hover {
  color: #2979ff; 
} 

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #2979ff!important; 
}