@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.indexation-approach-container {
    padding-top: 75px;

} 

.portfolio-risk-themes-container {
    padding-top: 75px;
}

.service-title {
    font-size: 30px; 
    font-weight: 800; 
    color: #000; 
}

.service-list li {
    list-style-type: none; 
}

.service-list li::before {
    content: '■'; 
    color: #75a7ff; 
    font-size: 10px; 
    margin-right: 10px;

} 

.service-subtitle-sm {
    font-size: 16px; 
    margin-top: -15px; 
}

.service-list.exo li::before {
    position: absolute;
    margin-left: -20px; 
}

.service-list.exo {
    margin-left: -20px!important; 
} 

.service-list.exo li {
    margin-bottom: 10px; 
}

.service-subtitle {
    text-transform: uppercase; 
    color: #000; 
    font-size: 16px; 
    font-weight: 800; 
}

.nav-service-options {
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.nav-service-options a {
    font-size: 14px; 
    text-transform: initial; 
    display: block; 
    font-weight: 200; 
}

.nav-service-options hr {
    width: 53px;
    color: #fff;
    margin: 0 auto; 
    margin-top: 10px; 
    margin-bottom: 10px; 
} 

.exo-facts-content-container {
    padding-top: 75px; 
} 


.service-subtitle-lowercase {
    margin-top: -20px; 
    font-weight: 800; 
} 

.risk-list {
    padding-left: 0!important; 
}


.risk-subtitle {
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.exo-table-container {
    overflow-x: auto; 
} 

.exo-table-container>div {
    display: inline-block; 
    text-align: center; 
}

.direction {
    width: 59%; 

}

.volatility {
    width: 39%; 
    float: right;
}

.exo-table-title {
    color: #000; 
    font-size: 18px; 
    font-weight: 800; 
} 

.tr_mobile_only {
    display: none; 
}

.exo-table {
    background: #fafafa; 
}

.exo-table thead {
    border-bottom: 1px solid #ccc; 
}

.exo-table th {
    font-weight: 400; 
}

.exo-table td {
    text-align: left; 
}

.exo-table-delimiter {
    text-align: left; 
}

.delimiter {
    height: 345px;
}

.check {
    background-image: url('../../../public/images/blue_check.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px; 
    height: 20px; 
    padding-top: 5px; 
} 

.exo-right {
    text-align: right!important; 
} 

.exo-prompt {
    font-size: 12px; 
    text-align: center; 
} 

.service-text {
    margin-top: 15px; 
}

.exo-legend {
    margin-bottom: 3px; 
}

.closed-risk {
    margin-top: 30px; 
}

.slide-row {
    margin-top: 30px; 
}

.closed-risk-img div {
    background-image: url('../../../public/images/portfolio_risk.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 150px; 
    margin-bottom: 30px; 
    width: 150px;
    margin-bottom: 30px;
    background-position-x: 0;
    
    
} 

.open-risk-img div {
    background-image: url('../../../public/images/portfolio_risk.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 150px; 
    margin-bottom: 30px; 
    width: 150px; 
    background-position-x: -150px;
} 


.active-slide-wrap img {
    width: 150px;
    height: 150px; 
}

.risk-slide {
    display: inline-block; 
    width: 80px; 
    padding: 20px 0; 
}

.risk-slide img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.slick-initialized .slick-slide{position: relative;}
.slick-initialized .slick-slide:after{
    content:'';
    width: 80%;
    height: 80%;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 19px 1px rgba(224,224,224,1);
    background: #fafafa;
    z-index: -1;
}
.slick-next {
    display: block;
    position: absolute;
    right: 30px;
    margin-top: -71px; 
    width: 20px; 
    height: 20px; 
    background-image: url('../../../public/images/next.png')!important; 
    background-size: cover!important; 
    background-repeat: no-repeat; 
}

.slick-next:hover {
    background-image: url('../../../public/images/next.png')!important;  
    background-repeat: no-repeat; 
}


.slick-prev:hover {
    background-image: url('../../../public/images/prev.png')!important;  
    background-repeat: no-repeat; 
}


.slick-next.slick-disabled {
    background-image: url('../../../public/images/next_d.png')!important; 
    background-repeat: no-repeat; 
}

.slick-prev {
    display: block;
    position: absolute;
    right: 55px;
    margin-top: -71px; 
    width: 20px; 
    height: 20px; 
    left: unset!important; 
    background-image: url('../../../public/images/prev.png')!important; 
    background-size: cover!important; 
    background-repeat: no-repeat; 
}

.slick-prev.slick-disabled {
    background-image: url('../../../public/images/prev_d.png')!important; 
    background-repeat: no-repeat; 
}

.slick-arrow:before {
    color: transparent!important; 
}

.slick-slider {
    margin-bottom: 50px;

} 

.service-subtitle-bold {
    font-weight: 600; 
    text-transform: uppercase; 
    font-size: 16px; 
    width: 200px; 
    white-space: nowrap; 
    text-align: center; 
}

.active-slide-wrap {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(224,224,224,1);
    box-shadow: 0px 0px 19px 1px rgba(224,224,224,1);
    background: #fafafa; 
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 25px; 
}


.slick-slide {
    cursor: pointer; 
} 

@media screen and (max-width: 1200px) {
    .tr_mobile_only {
        display: block; 
    }

    .exo-table-container>div {
        display: block; 
    }

    .direction {
        width: 100%; 

    }

    .volatility {
        width: 100%; 
        float: none; 
    }

}  

@media screen and (max-width: 768px) {
    .delimiter {
        height: 640px; 
    }
}

@media screen and (max-width: 600px) {
    .exo-table {
        font-size: 10px;
    }
} 

@media screen and (max-width: 425px) {
    .slick-next {
        margin-top: 70px; 
        right: 30px; 
    } 

    .slick-prev {
        margin-top: 70px; 
        left: 30px!important; 
        right: unset; 
    }
}