.nav-offset {
    padding-top: 75px; 
}

.simulations-title {
    font-weight: 800; 
    font-size: 20px; 
    color: #000; 
}

.simulations-title-small {
    font-weight: 800; 
    font-size: 16px; 
    color: #000; 
}

.instrument-filter-container {
    padding: 0px 15px 0px 25px; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-pack: justify; 
        justify-content: space-between; 
}

.simulations-line {
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 35px;
    margin-bottom: 25px; 
}

.results-container {
    min-height: 300px; 
}

.display-campaign-btn {
    color: #fff;
    text-transform: uppercase;
    background: #2979ff; 
    border-radius: 23px;
    padding: 13px 20px;
    border: none;
    outline: none;
    transition: all .2s ease-in-out; 
    width: 180px; 
    text-align: center; 
    font-weight: 800;  
    display: block; 
    margin: 0 auto; 
    margin-top: 55px;  
    margin-bottom: 55px;  
    cursor: pointer; 
}

.error {
    text-align: center;
    margin-top: -41px;
    color: #e00034;
} 

.simulations-container {
    display: block;
    overflow: hidden;
} 

.simulations-footer {
    margin-top: 25px;
}

@media screen and (max-width: 1200px) {
  .instrument-filter-container {
    padding: 0; 
  } 

  table {
      font-size: 12px; 
  }
} 

@media screen and (max-width: 700px) {
    .results-container {
        min-height: 0; 
    }

}

@media screen and (max-width: 500px) {
    .series-chart-heading {
        font-size: 16px; 
    }

    .series-chart-title {
        font-size: 16px; 
    }
} 
