.nav-underlay {
    background: #000; 
    height: 75px; 
    width: 100%; 
    position: absolute; 
    font-family: 'Roboto', sans-serif;
} 

.tech-description-container {
    margin-top: 75px; 
    padding-top: 25px; 
}

.tech-title {
    font-size: 30px; 
    font-weight: 800; 
    color: #000; 
} 
.tech-text:last-child {
	margin-bottom: 25px; 
}

.full-width-flex {
    width: 100%; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-pack: justify; 
        justify-content: space-between; 
    position: relative; 
    z-index: 99; 
} 

.illustration-container {
    margin-top: 75px; 
    padding-top: 25px; 
    height: 100%; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-align: center; 
        align-items: center; 
    -ms-flex-pack: distribute; 
        justify-content: space-around; 
}

.illustration-container img {
    margin-top: -75px; 
}


@media screen and (max-width: 991px) {
    .illustration-container img {
        margin-top: 0;  
    } 

    .illustration-container {
        margin-top: 0; 
        padding-top: 0; 
        height: 500px; 
    }
}

@media screen and (max-width: 600px) {
    .illustration-container img {
        width: 250px;
    }
    .illustration-container {
        height: 400px; 
    }
}