* {
    box-sizing: border-box;
}
.tellabout__form-wrapper {
    height: 810px;
    background-color: #212121;
    display: flex;
    align-items: center;
}
.tellForm__submit-btn {
    border: 0;
    background-color: #2979ff;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 1;
    padding: 18px 28px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.tellabout__form-container .row {
    margin-bottom: 15px;
}
.tellabout__form-container legend {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 1;
}
@media (min-width:500px) and (max-width:768px) {
    .tellabout__form-wrapper{
        padding-top: 120px;
        padding-bottom: 60px; 
        height:auto;
    }
    .tellabout__form-container legend {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .tellabout__form-container .row {
        margin-bottom: 0;
    }
}
@media (min-width:320px) and (max-width:499px) {
    .tellabout__form-wrapper{
        padding-top: 120px;
        padding-bottom: 60px; 
        height:auto;
    }
    .tellabout__form-container legend {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .tellabout__form-container .row {
        margin-bottom: 0;
    }
}